{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content" id="tz-{{forloop.counter}}">{{ post.content }}</p>
            <p id="card-{{forloop.counter}}"></p>
            <a href="{{post.socialmedia}}">{{post.socialmedia}}</a>
          </div>
          <script>
            function convertTZ(date, tzString) {
              return new Date((typeof date === "string" ? new Date(date) : date).toLocaleString("en-US", {timeZone: tzString}));   
            }
            var date = new Date()
            var tzone = document.getElementById("tz-{{forloop.counter}}").innerText
            t = convertTZ(date, tzone)
            t1 = String(t)
            t2=t1.split("GMT")[0]
            document.getElementById("card-{{forloop.counter}}").innerText = t2
          </script>
        </article>
    {% endfor %}
{% endblock content %}
